 header{
    width: 100vw;
    background-color: #FF7AAB;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;

}

.logo{
    width: 45%;
    padding-left: 40px;
    margin-right: 5%;
}


.logo img{
    width: 200px;
    cursor: pointer;
    

}


.servicos{
    margin-right: 2%;
    margin-left: 8%;
    width: 15%;
    padding: 20px ;
    text-align: center;
    cursor: pointer;
}

.contato{
    width: 15%;
    padding: 20px;
    text-align: right;
    width: 10%;
    cursor: pointer;
}

.contato a{
    width: 15%;
    padding: 20px;
    text-align: right;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown{
    display: none;
    width: 15%;
    position: absolute;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 2;
}

.dropdown li{
    padding:10px;
    justify-content: center;
    align-items: center;
    
}

.dropdown ul{
    width: 100%;
    background-color: rgb(245, 245, 245);
    list-style: none;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.dropdown a{
    text-decoration: none;
    color: black;
   
    
}

.servicos:hover .dropdown{
    display: flex;

    
    
    
}



