body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* imagem landing page e texto lateral*/
.landing{
    width: 50%;
    margin: 5% 2% 10% 10%;
}
.imgLanding {
    width: 400px;
    height: 500px;
    float: left;
    margin: auto 5% auto 5%;
}

.textoLanding {
    display: grid;
    grid-template-columns: 350px 350px;
    margin: 3% 2% auto 5%;
    padding-top: 4%;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 30px;
    grid-column-gap: 50px;
    text-align: justify;
}

/* valores*/

.valores {
    width: 70%;
    margin: 20% 5% auto 15%;
    font-family: sans-serif;
}

.valores h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 100;
    color: #CC6289;
}

.valores p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.item-valores {
    border-bottom: 1px solid rgb(206, 206, 206);
}

/* parte final da página*/

.finalPag {
    width: 70%;
    margin: auto 5% auto 15%;
}

.finalPag p {
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    color: #CC6289;
}

.imgFinalPag {
    width: 500px;
    border-radius: 1080px;
    margin: 10% 20% 5% 25%;
}

.aspas {
    color: #cc638f;
}

/*landing página day care*/

header, .landingDayCare {
    display: inline-block;
}

.landingDayCare {
    position: relative;
    height: 500px;
    background-size: cover;
    width: 100%;
}

.landingDayCare::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.textoLandingDayCare {
    position: relative;
    z-index: 1;
    color: #cc0859;
    font-family: sans-serif;
    font-size: 40px;
    margin: 5% auto auto 5%;
    text-shadow: 2px 2px 5px #c03c73;
}

/* texto introdutório página day care*/

.introducao {
    width: 80%;
    font-size: 22px;
    font-family: sans-serif;
    margin-left: 15%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 5%;
    text-align: justify;
}

.introducao-item{
    border: 2px solid #cc0859;
    padding: 5%;
    box-shadow: 2px 2px 10px #cc0859;
    border-radius: 10px;
}

/* sessão benefícios*/
.beneficios{
    width: 70%;
    font-family: sans-serif;
    margin: 10% 7% auto 13%;
    border: 2px solid #cc0859;
    box-shadow: 2px 2px 10px #cc0859;
    border-radius: 10px;
    padding: 2% 5% 12% 5%;
}

.beneficios h1 {
    color: #CC6289;

}

.beneficios img{
    width: 400px;
    float: left;
    margin-right: 10%;
    margin-top: 5%;
}

.beneficios p {
    font-size: 22px;
    text-align: justify;
    line-height: 30px;
    padding-top: 10%;
}

/* sessão atividades*/
.atividades{
    width: 70%;
    font-family: sans-serif;
    margin: 10% 7% auto 13%;
    border: 2px solid #cc0859;
    box-shadow: 2px 2px 10px #cc0859;
    border-radius: 10px;
    padding: 2% 5% 5% 5%;
}

.atividades h1 {
    color: #CC6289;
}

.atividades img{
    width: 600px;
    float: right;
    margin-top: 5%;

}

.atividades p {
    font-size: 22px;
    text-align: justify;
    line-height: 30px;
    width: 40%;

}

/* sessão equipe*/
.equipe {
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
}

.equipe h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #CC6289;
}

.equipe-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 8%;
    width: 70%;
    margin: 2% 5% 2% 17%;
}

.equipe-grid-item img{
    width: 300px;
    border-radius: 300px;
    box-shadow: 2px 2px 30px #c03c73;
}

.equipe-grid-item p {
    font-size: 25px;
    color: #cc638f;
    font-weight: 800;
    justify-content: center;
    padding-left: 90px;
}

/* carrossel */

.carousel-container {
    position: relative;
    width: 1100px; /* Largura de cada painel */
    margin: 200px auto;
    overflow: hidden; /* Adicionando overflow: hidden para esconder conteúdo que ultrapassa a largura */
    background-color: #e0e0e0; /* Cor de fundo do contêiner do carrossel */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 8800px; /* Largura total do carrossel - 4 painéis * 1100px */
}

.panel {
    width: 1100px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc; /* Cor da borda dos painéis */
    border-radius: 10px; /* Adicionando bordas arredondadas */
    overflow: hidden; /* Garantindo que a imagem não ultrapasse as bordas arredondadas */
    background-color: #f8f8f8; /* Cor de fundo dos painéis */
}

.content {
    padding: 20px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #cc0859; /* Cor de fundo das setas de navegação */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}