body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

b {
    color: #cc0859;
}

/* imagem landing page e texto lateral*/
.landing{
    width: 50%;
    margin: 5% 2% 10% 10%;
}
.imgLanding {
    width: 400px;
    height: 500px;
    float: left;
    margin: auto 5% auto 5%;
}

.textoLanding {
    display: grid;
    grid-template-columns: 350px 350px;
    margin: 3% 2% auto 5%;
    padding-top: 4%;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 30px;
    grid-column-gap: 50px;
    text-align: justify;
}

/* valores*/

.valores {
    width: 70%;
    margin: 20% 5% auto 15%;
    font-family: sans-serif;
}

.valores h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 100;
    color: #CC6289;
    text-shadow: 2px 5px 10px #803D56;
}

.valores p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.item-valores {
    border-bottom: 1px solid rgb(206, 206, 206);
}

/* parte final da página*/

.finalPag {
    width: 70%;
    margin: auto 5% auto 15%;
}

.finalPag p {
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    color: #CC6289;
}

.imgFinalPag {
    width: 500px;
    border-radius: 1080px;
    margin: 10% 20% 5% 25%;
    box-shadow: 2px 2px 30px #c03c73;
    
}

.aspas {
    color: #cc638f;
}

/*landing página day care*/

header, .landingDayCare {
    display: inline-block;
}

.landingDayCare {
    position: relative;
    height: 500px;
    background-size: cover;
    width: 100%;
}

.landingDayCare::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}

.textoLandingDayCare {
    position: relative;
    z-index: 1;
    color: #cc0859;
    font-family: sans-serif;
    font-size: 40px;
    margin: 5% auto auto 5%;
    text-shadow: 2px 2px 5px #803D56;
}

.textoLandingHosp {
    position: relative;
    z-index: 1;
    color: #cc0859;
    font-family: sans-serif;
    font-size: 40px;
    margin: 5% auto auto 5%;
    text-shadow: 5px 5px 5px #803D56;
}
/* texto introdutório página day care*/

.introducao {
    width: 80%;
    font-size: 22px;
    font-family: sans-serif;
    margin-left: 12%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 5%;
    text-align: justify;
}

.introducao-item{
    border: 2px solid #cc0859;
    padding: 5%;
    box-shadow: 2px 2px 10px #cc0859;
    border-radius: 10px;
}

/* sessão benefícios*/
.beneficios{
    width: 60%;
    font-family: sans-serif;
    margin: 10% 7% auto 16%;
    border: 2px solid #cc0859;
    box-shadow: 2px 2px 10px #cc0859;
    border-radius: 10px;
    padding: 2% 5% 12% 5%;
}

.beneficios h1 {
    color: #CC6289;
    text-shadow: 1px 2px 5px #803D56;

}

.beneficios img{
    width: 400px;
    float: left;
    margin-right: 10%;
    margin-top: 5%;
    border-radius:10px ;
}

.beneficios p {
    font-size: 22px;
    text-align: justify;
    line-height: 30px;
    padding-top: 10%;
}

/* sessão atividades*/
.atividades{
    width: 60%;
    font-family: sans-serif;
    margin: 10% 7% auto 16%;
    border: 2px solid #cc0859;
    box-shadow: 2px 2px 10px #cc0859;
    border-radius: 10px;
    padding: 2% 5% 5% 5%;
}

.atividades h1 {
    color: #CC6289;
    text-shadow: 1px 2px 5px #803D56;
}

.atividades img{
    width: 520px;
    float: right;
    margin-top: 5%;
    border-radius:10px ;

}

.atividades p {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    width: 40%;
    margin-right: 5%;
}

    
/* carrossel */
    
    .carousel-container {
        position: relative;
        width: 900px; /* Largura de cada painel */
        height: 600px;
        margin: 200px auto;
        overflow: hidden; /* Adicionando overflow: hidden para esconder conteúdo que ultrapassa a largura */
        background-color: #e0e0e0; /* Cor de fundo do contêiner do carrossel */
    }
    
    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 7200px; /* Largura total do carrossel - 4 painéis * 1100px */
    }
    
    .panel {
        width: 900px;
        height: 600px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border: 1px solid #ccc; /* Cor da borda dos painéis */
        border-radius: 10px; /* Adicionando bordas arredondadas */
        overflow: hidden; /* Garantindo que a imagem não ultrapasse as bordas arredondadas */
        background-color: #f8f8f8; /* Cor de fundo dos painéis */
    }
    
    .content {
        padding: 20px;
    }
    
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        background-color: #cc0859; /* Cor de fundo das setas de navegação */
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }


/* sessão para encher linguiça*/

.filling-in {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: auto ;
}

.filling-in h1 {
    color: #803D56;
    font-size: 50px;
    margin-right: 10%;
    text-shadow: 2px 5px 10px #803D56;
}

.filling-in ul{
    font-size: 20px;
    color: #803D56;
    text-align: justify;
}

.filling-in p {
    color: black;
}

.filling-in b{
    color: #803D56;
}

/* sessão equipe*/
.equipe {
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
}

.equipe h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #CC6289;
    margin-bottom: 5%;
    text-shadow: 2px 2px 20px #f27dae;
}

.equipe-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 8%;
    width: 70%;
    margin: 2% 5% 2% 17%;
}

.equipe-grid-item img{
    width: 300px;
    border-radius: 300px;
    box-shadow: 2px 2px 15px #c03c73;
}

.equipe-grid-item p {
    font-size: 25px;
    color: #cc638f;
    font-weight: 800;
    justify-content: center;
    padding-left: 90px;
}

/* sessão para entrar em contato*/

.contact-in {
    font-family: sans-serif;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    padding: 1%;
    background: #f27dae;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #CC6289;
}

.contact-in h4 {
    color: #ffffff;
    font-size: 30px;
    margin-left: 10%;
    position: relative;
    z-index: 1;

}

.contact-in p {
    margin-left: 10%;
    font-size: 22px;
    position: relative;
    z-index: 1;
    color: white;
}

/* sessão das modalidades do adestramento*/

.modalidades {
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px 100px;
    font-family: sans-serif;
    margin: auto;
    width: 70%;
    gap: 10%;

}

.modalidades-item{
    width: 100%;
    background: #c03c73;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    color: white;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}

.modalidades-item:hover {
    transform: scale(1.1, 1.1);
    background:  #803D56;
}

#tituloModalidades  {
    color: #CC6289;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: 10% auto 50px auto;
    font-size: 50px;
    text-shadow: 2px 5px 10px #803D56;
}

/* cards*/

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none; /* Inicialmente oculto */
    width: 500px;
    height: 400px;
}

.card h1{
    color: #cc0859;
    font-family: sans-serif;
    padding: 1%;
}

.card p {
    margin: 0;
    font-size: 20px;
    font-family: sans-serif ;
    text-align: justify;
    padding: 2%;
}

.card button {
    margin-top: 150px;
    padding: 10px;
    background-color: #cc0859;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #cc638f;
}

/* mapa*/

iframe {
    width: 500px;
    height: 600px;
    float: left;
    margin: 5% 10% auto 10%;
}

/* endereço e horário de funcionamento*/

.endereco {
    width: 50%;
    margin-left: 50%;
    margin-top: 15%;
    font-family: sans-serif;
}

.endereco h1 {
    color: #CC6289;;
    margin-top: 30px;
}

.endereco p {
    font-size: 20px;
}

.whats{
    padding-left: 10px;

}

.whats a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    

}

.whats a:hover{
    text-decoration: none;
    color: #ffffff;

}
.whats i{
    color: rgb(0, 148, 0);
    font-size: 40px;
    font-weight: bold;
    font-weight: bolder;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 15px;
    
}

.redes-sociais a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.instagram i{
    width: 30px;
    height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    padding: 5px;
    border-radius: 5px;
}
.whatsapp i{
    width: 30px;
    height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, #25D366, #128C7E);
    padding: 5px;
    border-radius: 5px;
}

.face i{
    width: 30px;
    height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, #1877F2, #3b5998);
    padding: 5px;
    border-radius: 5px;
}